*{
  box-sizing: border-box;
}

a {
color: #7EBDC3;
}

nav {
  font-family:'Montserrat', sans-serif;
}

.active {
  font-weight: bold;
}

.alert {
  color: #8D3B72 !important;
}
.character-creator-header {
  max-width: 1000px;
  margin: auto;
  margin-top: 150px;
  padding: 8px; 
}

.nav-area {
  margin: auto;
  text-align: center;

}

.nav-menu {
  height: 100%;
  margin: auto;
  text-align: center;
  overflow: auto;
}

.nav-menu > a {
  margin: 0 3px;
}

.nextback {
  text-align: center;
  margin: auto;
}

.hidden {
  display: none;
}

button {
  vertical-align: middle;
  font-size: 18px;
  padding: 5px 15px;
  border-radius: 10px;
  background: linear-gradient(to left, #FFBE00, #e85b2c);
  color: white;
}

.nextback-button {
  width: 80px;
  height: 35px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

@media print {
  .nav, .nav *{
     display: none !important;
    }
  } 