.landing-page-top {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;

}

.landing-page {
  max-width: 1100px;
  margin: auto;
  padding: 20px 15px;
}

.landing-header {
  text-align: left;
}

.login-header {
  text-align: center;
}

.login-toggle {
  text-align: center;
}

.landing-page-login {
  display: inline-block;
  margin: 0 auto;
  padding: 15px;
}

.landing-page-info {
  display: inline-block;
  margin: auto;
  padding: 10px 10px 10px 0px;
  min-width: 450px;
}

.video-section {
  max-width: 900px;
  margin: auto;
}

.video-container {
  display: inline-block;
  position: relative;
  margin: 15px auto;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .landing-page-top {
    flex-flow: row-reverse nowrap;
  }

  .LoginPage {
    width: 330px;
  }

}
