.userArea {
  max-width: 1000px;
  padding: 8px;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.greeting {
  display: block;
  width: 100%;
}

.characterTile {
  position: relative;
  background-color: #e6e6e6;
  padding: 5px;
  box-shadow: 0px 0px 10px 1px #C7C7C7;
  margin: 8px;
  border-radius: 1px;
  width: 300px;
  height: 130px;
  clear: left;
}

.character-link {
  display: inline-block;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.character-create-button {
  margin-left: 10px;
}

.character-name {
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  color: black;
}
a{
  text-decoration: none;
}
.character-name:hover {
  color: #e85b2c;
}