.LoginPage {
  display: block;
  margin: auto;
  margin-top: 50px;
  max-width: 350px;
  padding: 10px;
  background-color:	#e6e6e6;
  color: black;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.login-input-area {
  text-align: center;
  margin: 8px 0;
}

.LoginPage > p > a {
  color: #e85b2c;
}

.LoginPage > p >  a:hover {
  color: #FFBE00;
}

.login-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.login-submit {
  display: block;
  margin: 15px auto;
}