.LoginPage {
  display: block;
  margin: auto;
  margin-top: 200px;
  max-width: 350px;
  padding: 10px;
  background-color:	#e6e6e6;
  color: black;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.login-input-area {
  text-align: center;
}


.login-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.login-submit {
  display: block;
  margin: 15px auto;
}