* {
   box-sizing: border-box;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.option-tile {
  border: .5px solid #7A6263;
  padding: 5px;
  box-shadow: 0px 0px 8px .5px #7A6263;
  display: inline-block;
  margin: 8px;
  width: 308px;
  height: 308px;
  border-radius: 1px;
  z-index: 100;
}

.tile-radio {
  opacity:0;
}

.selected {
  box-shadow: 0px 0px 8px 3px #7EBDC3;
  border: .5px solid #7EBDC3;
}

